* {
  box-sizing: inherit;
}

body {
  background-color: #000000;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100vh;
}

.page-header {
  background: black;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2%;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.page-header__logo {
  font-size: 6.25rem;
}

.page-header__nav a {
  color: #ffffff;
  margin-top: 11px;
  padding: 0 10px;
  text-decoration: none;
}

#cssmenu {
  width: auto;
  display: block;
  text-align: center;
  font-family: Cormorant;
  line-height: 1.2;
}
#cssmenu ul {
  width: auto;
  display: block;
  font-size: 0;
  text-align: center;
  color: #ffffff;
  background-color: black;
  border: transparent;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 999999990;
  border-radius: 3px;
}

#cssmenu li {
  display: inline-block;
  position: relative;
  font-size: 0;
  margin: 0;
  padding: 0;
}

/*Top level items
---------------------------------------*/

#cssmenu > ul > li > span,
#cssmenu > ul > li > a {
  font-size: 1.375rem;
  color: inherit;
  text-decoration: none;
  padding: 20px 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  position: relative;
  transition: all 0.3s;
}
#cssmenu li:hover > span,
#cssmenu li:hover > a {
  color: black;
  background-color: #03fc7f;
}

@keyframes topItemAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, 10vh, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
#cssmenu li a {
  animation: none;
}
#cssmenu.active li a {
  animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.9s
    backwards;
}
#cssmenu.active li:nth-of-type(1) a {
  animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.15s
    backwards;
}
#cssmenu.active li:nth-of-type(2) a {
  animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.3s
    backwards;
}
#cssmenu.active li:nth-of-type(3) a {
  animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.45s
    backwards;
}
#cssmenu.active li:nth-of-type(4) a {
  animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.6s
    backwards;
}
#cssmenu.active li:nth-of-type(5) a {
  animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.75s
    backwards;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #cssmenu.active li a {
    animation: none !important;
  }
}
/*--Style the menu-icon--*/
.menu-icon {
  border-radius: 50%;
  margin-right: 12px;
}
.menu-icon.active {
  background-color: transparent;
}

#mcmenu .hasdd .top-item:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#mcmenu .hasdd .top-item:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.jumbo-slider {
  background: #1b1b1b;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.jumbo-slider__container {
  position: relative;
}

.container {
  height: 100%;
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.jumbo-slider__slide {
  height: 100vh;
  width: 100%;
}

.jumbo-slider__slide-background {
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  -webkit-filter: saturate(0);
  -webkit-transition: opacity 2s ease-in-out;
  background-position: center !important;
  background-size: cover !important;
  cursor: pointer;
  filter: saturate(0);
  height: 100vh;
  opacity: 1;
  position: absolute;
  transition: opacity 2s ease-in-out;
  width: 100%;
  z-index: 1;
}

.jumbo-slider__video-player {
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  height: 100vh;
  transform: scale(1.5);
  width: 100%;
}

.jumbo-slider__slide--active .jumbo-slide__slide-background {
  opacity: 0.5;
}

.jumbo-slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 2;
}

.jumbo-slider__slide-number {
  -moz-transform: translate3d(0, 100px, 0);
  -moz-transition: transform 0.4s ease-in-out 1s, opacity ease-in-out 1s;
  -ms-transform: translate3d(0, 100px, 0);
  -ms-transition: transform 0.4s ease-in-out 1s, opacity ease-in-out 1s;
  -o-transform: translate3d(0, 100px, 0);
  -o-transition: transform 0.4s ease-in-out 1s, opacity ease-in-out 1s;
  -webkit-transform: translate3d(0, 100px, 0);
  -webkit-transition: transform 0.4s ease-in-out 1s, opacity ease-in-out 1s;
  color: #03fc7f;
  font-size: 18rem;
  font-weight: 700;
  margin-bottom: 1rem;
  opacity: 0;
  position: relative;
  transform: translate3d(0, 100px, 0);
  -webkit-transition: opacity ease-in-out 1s,
    -webkit-transform 0.4s ease-in-out 1s;
  transition: opacity ease-in-out 1s, -webkit-transform 0.4s ease-in-out 1s;
  transition: transform 0.4s ease-in-out 1s, opacity ease-in-out 1s;
  transition: transform 0.4s ease-in-out 1s, opacity ease-in-out 1s,
    -webkit-transform 0.4s ease-in-out 1s;
}

.jumbo-slider__slide--active .jumbo-slider__slide-number {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.jumbo-slider__title {
  -moz-transform: translate3d(0, 100px, 0);
  -moz-transition: transform 0.4s ease-in-out 1.5s, opacity ease-in-out 1.5s;
  -ms-transform: translate3d(0, 100px, 0);
  -ms-transition: transform 0.4s ease-in-out 1.5s, opacity ease-in-out 1.5s;
  -o-transform: translate3d(0, 100px, 0);
  -o-transition: transform 0.4s ease-in-out 1.5s, opacity ease-in-out 1.5s;
  -webkit-transform: translate3d(0, 100px, 0);
  -webkit-transition: transform 0.4s ease-in-out 1.5s, opacity ease-in-out 1.5s;
  background: white;
  color: black;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  opacity: 0;
  padding: 1%;
  position: relative;
  text-transform: uppercase;
  transform: translate3d(0, 100px, 0);
  -webkit-transition: opacity ease-in-out 1.5s,
    -webkit-transform 0.4s ease-in-out 1.5s;
  transition: opacity ease-in-out 1.5s, -webkit-transform 0.4s ease-in-out 1.5s;
  transition: transform 0.4s ease-in-out 1.5s, opacity ease-in-out 1.5s;
  transition: transform 0.4s ease-in-out 1.5s, opacity ease-in-out 1.5s,
    -webkit-transform 0.4s ease-in-out 1.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.jumbo-slider__description {
  -moz-transform: translate3d(0, 100px, 0);
  -moz-transition: transform 0.4s ease-in-out 2s, opacity 0.4s ease-in-out 2s;
  -ms-transform: translate3d(0, 100px, 0);
  -ms-transition: transform 0.4s ease-in-out 2s, opacity 0.4s ease-in-out 2s;
  -o-transform: translate3d(0, 100px, 0);
  -o-transition: transform 0.4s ease-in-out 2s, opacity 0.4s ease-in-out 2s;
  -webkit-transform: translate3d(0, 100px, 0);
  -webkit-transition: transform 0.4s ease-in-out 2s, opacity 0.4s ease-in-out 2s;
  color: #ffffff;
  line-height: 1.3;
  max-width: 600px;
  opacity: 0;
  position: relative;
  transform: translate3d(0, 100px, 0);
  -webkit-transition: opacity 0.4s ease-in-out 2s,
    -webkit-transform 0.4s ease-in-out 2s;
  transition: opacity 0.4s ease-in-out 2s, -webkit-transform 0.4s ease-in-out 2s;
  transition: transform 0.4s ease-in-out 2s, opacity 0.4s ease-in-out 2s;
  transition: transform 0.4s ease-in-out 2s, opacity 0.4s ease-in-out 2s,
    -webkit-transform 0.4s ease-in-out 2s;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.55);
  text-align: justify;
}

.jumbo-slider__slide--active .jumbo-slider__slide-number,
.jumbo-slider__slide--active .jumbo-slider__title,
.jumbo-slider__slide--active .jumbo-slider__description {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.jumbo-slider__nav {
  -ms-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 200px;
  width: 100%;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl; /*turn link vertical*/
  z-index: 4;
}

.jumbo-slider__link {
  color: #ffffff;
  font-size: 1.4rem;

  padding: 5%;
  text-decoration: none;
  text-transform: uppercase;
}

.jumbo-slider__link--active {
  color: #03fc7f;
}

.jumbo-slider__elipsis {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
  z-index: 4;
}

.jumbo-slider__circle {
  border-radius: 50%;
  border: 2px solid #03fc7f;
  height: 3%;
  margin-bottom: 10%;
  width: 20%;
}

.jumbo-slider__circle--filled {
  background: #03fc7f;
}

.jumbo-slider__timeline {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.jumbo-slider__time {
  -moz-transition: 6s;
  -ms-transition: 6s;
  -o-transition: 6s;
  -webkit-transition: 6s;
  background: #ffffff;
  height: 5px;
  transition: 6s;
  width: 0;
}

.jumbo-slider__slide--active .jumbo-slider__time {
  background: #03fc7f;
  width: 100%;
}

/*######## styles for mobile mode */

.menu-icon {
  display: none;
}

/* tablet */

@media only screen and (max-width: 980px) {
  .menu-icon {
    display: inline-block;
  }

  #cssmenu {
    width: 100%;
    max-width: 600px;
    display: none;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    z-index: 999999990;
  }

  /*--begin mark1--*/

  #cssmenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100% !important;
    right: -130%;
    left: auto;
    box-shadow: -4px 0 18px rgba(0, 0, 0, 0.3);
    transition: all 411ms cubic-bezier(0.7, 0, 1, 0.4);
    -webkit-transition: all 411ms cubic-bezier(0.7, 0, 1, 0.4);
    -moz-transition: all 411ms cubic-bezier(0.7, 0, 1, 0.4);
    -ms-transition: all 411ms cubic-bezier(0.7, 0, 1, 0.4);
    -o-transition: all 411ms cubic-bezier(0.7, 0, 1, 0.4);
  }

  #cssmenu.active {
    right: 0;
    transition: all 411ms cubic-bezier(0.16, 0.76, 0.45, 1);
  }

  #mcmenu {
    z-index: 1000000004;
  }
  -fixed-bg {
    background: #000;
    z-index: 1000000000;
  }
  -fixed-bg.showing {
    display: block;
    opacity: 0;
  }
  -fixed-bg.active {
    opacity: 0.4;
  }
  .menu-icon.active {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 1000000006;
  }

  /*--end mark1--*/

  #cssmenu ul {
    background-color: transparent;
    transition: all 411ms ease;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
  }

  #cssmenu .mobileHide {
    display: none;
  }

  #cssmenu li {
    text-align: center;
    display: block;
    position: static;
  }

  #cssmenu > ul > li > span,
  #cssmenu > ul > li > a {
    font-size: 32px;
  }
  /* #cssmenu li:hover span,
  #cssmenu li:hover a {
    color: #000000;
    background-color: #03fc7f;
  } */

  .page-header__logo {
    font-size: 3.125rem;
  }

  .jumbo-slider__description {
    margin-bottom: 30%;
  }

  .jumbo-slider__slide-number {
    font-size: 4rem;
    margin-top: 15rem;
  }

  .jumbo-slider__title {
    background: black;
    color: white;
    margin-bottom: 1%;
  }

  .jumbo-slider__nav {
    top: 99px;
  }

  .jumbo-slider__link {
    font-size: 1rem;
  }

  .jumbo-slider__circle {
    display: none;
  }
}

/*----------- menu-icon ----------------*/
.menu-icon-wrapper {
  padding: 5px;
  text-align: right;
}
.menu-icon {
  padding: 9px;
  cursor: pointer;
  outline: none;
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 0.25s ease-out;
  user-select: none;
  box-sizing: content-box;
  font-size: 0;
  position: relative;
}

.menu-icon.active {
  background-color: #000000;
}
.three-line {
  width: 22px;
  height: 20px;
  position: relative;
  display: inline-block;
  font-size: 0;
}
.three-line span {
  background-color: #ffffff;
  position: absolute;
  border-radius: 2px;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 2px;
  left: 0;
  transform: rotate(0);
}
.three-line span:nth-child(1) {
  top: 0;
}
.three-line span:nth-child(2) {
  top: 9px;
  visibility: visible;
}
.three-line span:nth-child(3) {
  bottom: 0;
}
.menu-icon.active .three-line span:nth-child(1) {
  transform: rotate(225deg);
  top: 9px;
}
.menu-icon.active .three-line span:nth-child(2) {
  transform: rotate(180deg);
  visibility: hidden;
}
.menu-icon.active .three-line span:nth-child(3) {
  transform: rotate(315deg);
  top: 9px;
}
/*End of styles for mobile mode ########*/

/* smart phone 736  */

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .jumbo-slider__slide-number {
    margin-bottom: 15px;
  }

  .jumbo-slider__title {
    margin-bottom: 10px;

    font-size: 1.3rem;
  }
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
  .menu-icon-wrapper {
    background-color: #000;
  }

  .page-header__logo {
    font-size: 1.6rem;
    margin-top: 2%;
  }

  .jumbo-slider__slide-number {
    margin-top: 0;
  }

  .jumbo-slider__title {
    margin-bottom: 1%;

    font-size: 1.3rem;
  }

  .jumbo-slider__description {
    width: 80%;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.737);
    margin-bottom: 100px;
  }
}
